<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= skill.text %> Skill</title>
</head>
<body>
  <h1> Skill: <%= skill.text %> </h1>
  <a href="/skills/<%= skill._id %>/edit">Edit</a>
  <h2>Skill # <%= skill._id %></h2>
  <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
  <a href="/skills">View All Skills</a>
</body>
</html>